.dashboard {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.infoContainer {
  border-radius: 5px;
  overflow: hidden;
  width: 30vw;
  border: 3px solid #12b7e98a;
  min-width: 200px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.007);
  margin: 20px 0;
}
@media (max-width: 420px) {
  .infoContainer {
    width: 90vw;
  }
}
.logo {
  max-width: 150px;
  margin: 0 0 0 20px;
  margin-top: -20px;
}
.cardsDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95vw;
  flex-wrap: wrap;
  margin: 0 auto;
}
.infoContainer > * {
  width: 100%;
  padding: 1px 10px;
  box-sizing: border-box;
  font-size: 20px;
}
.buttons {
  width: 95vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto 45px;
}
.buttons > * {
  padding: 15px 30px;
  border: none;
  width: max-content;
  margin: 0;
  background-color: #12c9e9d7;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.buttons > *:nth-child(6) {
  background-color: #f64f5aea;
  color: #4d0409;
}
.buttons > *:nth-child(5) {
  background-color: #4286f4;
  color: #102546;
}
.buttons > *:nth-child(2) {
  background-color: #12c2e9de;
  color: #04333d;
}
.buttons > *:nth-child(3) {
  background-color: #c471edd3;
  color: #3b1250;
}
.buttons > *:nth-child(4) {
  background-color: #ff0099d2;
  color: #4b022e;
}
.buttons > *:nth-child(1) {
  background-color: #7834ffce;
  color: #130138;
}
.head {
  background-color: #12b7e98a;
}
.welcome {
  font-size: 40px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-top: -50px;
}
.name {
  font-size: 50px;
  font-weight: 600;
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* move the background by some degrees
   */
}
.description {
  width: 95vw;
  max-width: 800px;
  float: right;
  margin-right: 30px;
  font-weight: 500;
  font-size: 25px;
  text-align: right;
}
.loaderdiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
