body {
  margin: 0;
  padding: 0;
}
.treesPage {
  background-color: rgb(236, 236, 236);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: right;
  flex-direction: column;
  align-items: center;
}
.treesPage * {
  text-align: center;
}
.treesPage > h2 > span {
  font-size: 35px;
  font-weight: 700;
}
.treesPage h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 60px;
}
.treesPage > h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  max-width: 90vw;
  color: rgb(43, 43, 43);
}
hr {
  width: 100vw;
}
.tree {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trees {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.trees > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.trees > div > * {
  margin: 20px 0;
  padding: 0;
}
.trees > div > p {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.103);
  padding: 5px 15px;
  border-radius: 5px;
  z-index: 1000;
  position: relative;
  max-width: 35vw;
  border: 2px solid rgb(190, 190, 190);
}
.trees > div > p > span {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.trees > div > p:first-child::after {
  content: "";
  height: 34px;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.301);
  position: absolute;
  bottom: -3px;
  left: 50%;
  border-radius: 40px;
  transform: translate(-50%, 100%);
}
.trees > div:first-child > p:first-child::before {
  content: "";
  height: 80px;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.301);
  position: absolute;
  top: 0;
  left: 85%;
  border-radius: 40px;
  transform: translateY(-86%) rotate(55deg);
}
.trees > div:nth-child(2) > p:first-child::before {
  content: "";
  height: 80px;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.301);
  position: absolute;
  top: 0;
  left: 15%;
  border-radius: 40px;
  transform: translateY(-86%) rotate(-55deg);
}
.trees > div:first-child {
  border-right: 2px solid rgb(167, 167, 167);
}
.tree > h2 {
  background-color: rgba(0, 0, 0, 0.075);
  padding: 5px 15px;
  border-radius: 30px;
  width: 50%;
  text-align: center;
  margin: 20px 0 30px 0;
}
