.deposits {
  height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(236, 236, 236);
}
.deposits > h1 {
  width: 95vw;
  margin: 50px auto 30px;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
.depositscard {
  background-color: rgb(199, 199, 199);
  width: max-content;
  padding: 20px;
  border-radius: 3px;
  min-width: 250px;
}
.depositscard * {
  margin: 0;
  width: max-content;
}
.depositscard h2 {
  font-size: 22px;
}
.proof {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
.buttonsindeposit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonsindeposit button {
  padding: 10px 20px;
  border: none;
  margin: 0;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  width: 40% !important;
}
.buttonsindeposit button:nth-child(1) {
  background-color: rgb(160, 160, 160) !important;
}
.buttonsindeposit button:nth-child(2) {
  background-color: black !important;
  color: white;
}
.depositscards {
  width: 95vw;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 663px) {
  .depositscard {
    width: 90vw;
  }
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
