.userspage {
  background-color: rgb(238, 238, 238);
  padding: 50px 0;
  min-height: 100vh;
  overflow-x: hidden;
}
.contentWrapper {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 30px; */
  flex-wrap: wrap;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;

  border-radius: 30px;
  overflow: hidden;
  padding: 20px;
  background: #12c2e9c2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f5ac2,
    #c471edb9,
    #12c2e9b2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f5aab,
    #c471edbd,
    #12c2e9b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 20px;
  font-size: 20px;
}
.userspage > h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.user > * {
  text-align: center;
}
.user span {
  font-weight: 700;
  font-size: 22px;
}
